# DB config
# https://hindsight.vectorize.io/developer/models
HINDSIGHT_DB_PASSWORD=
HINDSIGHT_DB_NON_ROOT_PASSWORD=

# ollama config
HINDSIGHT_API_LLM_MODEL=gemma4:31b

# hindsight docker can access ollama on macos over host.docker.internal URL
HINDSIGHT_API_LLM_BASE_URL=http://host.docker.internal:11434/v1
# HINDSIGHT_API_LLM_BASE_URL=http://localhost:11434/v1

# N8N config
N8N_RUNNERS_AUTH_TOKEN=

